<div class="login-form" id="login-form">
  <h2>Log In</h2>
  <form action="/auth/login" method="POST">

    <label> Identifiant
      <input class="input-login" type="text" name="username" placeholder="Identifiant" />
    </label>

    <label> Mot de passe
      <input class="input-login" type="password" name="password" placeholder="Mot de passe" />
    </label>

    <button type="submit">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>