<div class="login-form" id="form">
  <h2>Sign Up</h2>
  <form action="/auth/signup" method="POST">

    <label> Username
      <input class="input-login" type="text" name="username" placeholder="Your username" />
    </label>

    <label> Password
      <input class="input-login" type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>