<div class="header">
  <div class="navbar" id="navbar">
    <a class="logo" href="/">
    </a>

    <nav class="nav-links">
      <a href="/maison-planchon">LA MAISON PLANCHON</a>
      <a href="/offres-prestations">NOS OFFRES ET PRESTATIONS</a>
      <a href="/professionnels">LES PROFESIONNELS</a>
      <a href="/boutiques">NOS BOUTIQUES</a>
      <a href="/partenaires">NOS PARTENAIRES</a>
    </nav>
  </div>
</div>