{{> navbar}}

<section class="parallax head-boutique" data-speed="0.5">
  <h1>NOS BOUTIQUES</h1>
</section>

<article class="container">
  <h2>Fromagerie Planchon</h2>
  <p class="boutiques">
    <span class="adresse">
      <span class="padR">21, rue Saint-Fuscien,</span>
      <span> 80000 Amiens</span>
    </span>
    <span class="phone">03 22 47 63 10</span>
  </p>
  <h3>Horaires</h3>
  <p class="boutiques">
    <span class="horaires">
      <span class="padR">Lundi : </span>
      <span>fermé</span>
    </span>
    <span class="horaires">
      <span class="padR">Du mardi au jeudi : </span>
      <span class="padR"> 08:30 à 13:00 </span>
      <span class="dash padR">-</span>
      <span>15:00 à 19:00</span>
    </span>
    <span class="horaires">
      <span class="padR">Vendredi et samedi :</span>
      <span>08:30 à 19:00</span>
    </span>
    <span class="horaires">
      <span class="padR">Dimanche :</span>
      <span>08:30 à 12:30</span>
    </span>
  </p>
  <p>
    <iframe
      class="maps"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d200.05560763430927!2d2.3038453294830874!3d49.88642401066818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e7859757454bdb%3A0x8ca91d17b3dd01bb!2sFromagerie%20Julien%20Planchon%20%2F%2021%20rue%20Saint-Fuscien!5e0!3m2!1sen!2sfr!4v1722470895610!5m2!1sen!2sfr"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </p>

  <h2>Fromagerie Planchon</h2>
  <p class="boutiques">
    <span>Centre commercial les Halles du Beffroi</span>
    <span class="adresse">
      <span class="padR">Place Maurice Vast,</span>
      <span> 80000 Amiens</span>
    </span>
    <span class="phone">03 22 91 96 22</span>
  </p>
  <h3>Horaires</h3>
  <p class="boutiques">
    <span class="horaires">
      <span class="padR">Lundi : </span>
      <span>fermé</span>
    </span>
    <span class="horaires">
      <span class="padR">Du mardi au jeudi : </span>
      <span  class="padR">08:30 à 13:00</span>
      <span class="dash padR">-</span>
      <span>15:00 à 19:00</span>
    </span>
    <span class="horaires">
      <span class="padR">Vendredi et samedi : </span>
      <span>9:00 à 19:00</span>
    </span>
    <span class="horaires">
      <span class="padR">Dimanche : </span>
      <span>9:00 à 12:30</span>
    </span>
  </p>
  <p>
    <iframe
      class="maps"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5140.348736235547!2d2.2926225768035113!3d49.895529627163434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e78414e7f1177b%3A0x9360338a52e39bdb!2sFromagerie%20Julien%20Planchon%20%2F%20Halle%20au%20frais!5e0!3m2!1sen!2sfr!4v1722470984462!5m2!1sen!2sfr"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </p>

  <h2>Fromagerie Planchon</h2>
  <p class="boutiques">
    <span>Place Ô Marché</span>
    <span class="adresse">
      <span class="padR">14, avenue Paul Claudel,</span>
      <span> 80000 Amiens</span>
    </span>
    <span class="phone">03 22 72 40 71</span>
  </p>
  <h3>Horaires</h3>
  <p class="boutiques">
    <span class="horaires">
      <span class="padR">Lundi au jeudi : </span>
      <span>9:00 à 19:00</span>
    </span>
    <span class="horaires">
      <span class="padR">Vendredi et samedi : </span>
      <span>9:00 à 19:00</span>
    </span>
    <span class="horaires">
      <span class="padR">Dimanche : </span>
      <span>fermé</span>
    </span>
  </p>
  <p>
    <iframe
      class="maps"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2571.2389807145337!2d2.2757413768025674!3d49.87553852859152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e78462dc7990a3%3A0xe8a0148f6b4859f!2sMealk!5e0!3m2!1sen!2sfr!4v1722471016319!5m2!1sen!2sfr"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </p>
</article>

{{> footer}}