{{> navbar}}

<section class="parallax head-maison" data-speed="0.5">
  <h1>LA MAISON PLANCHON</h1>
</section>

<article class="container">
  <h2>Fondation & histoire</h2>
  <p class="maison">
    <span>
      La Maison Planchon porte le nom de son créateur, Julien Planchon, grand
      amoureux des produits laitiers et acteur majeur de la gastronomie
      amiénoise. Une enfance à la ferme et des racines agricoles ancrées en lui
      qui le guideront jusqu’au métier de fromager à l’âge de 22 ans.
    </span>
    <span>
      Il ouvre sa première boutique au sein de la Halle au frais, en plein coeur
      du centre-ville d'Amiens.
    </span>
    <span>
      Depuis cette première ouverture, deux autres boutiques ont vu le jour : la
      seconde fromagerie Planchon, rue Saint-Fuscien et lafromagerie Planchon
      , avenue Paul Claudel à Amiens Sud.
    </span>
    <span>
      La Maison Planchon s’engage à proposer des produits de hautes qualités. :
    </span>
  </p>
</article>

<section class="parallax maison2" data-speed="0.5">
  <p class="legende"></p>
</section>

<article class="container">
  <h3>La sélection des produits</h3>
  <p class="maison">
    <span>
      Une gamme de pépites fromagères est proposée dans les vitrines de nos
      fromageries.
    </span>
    <span>
      Spécialiste avant tout des fromages des Hauts-de-France, nous avons à
      coeur de proposer des produits qui sortent de l’ordinaire, fabriqués par
      des producteurs artisanaux aussi passionnés que nous.
    </span>
  </p>
</article>

<section class="parallax maison3" data-speed="0.5">
  <p class="legende">
    Julien Planchon et une de ses collaboratrice Virginie Dubois-Dhorne,
    championne du monde au concours mondial du meilleur fromager.</p>
</section>
<article class="container">
  <h3>Des créations audacieuses</h3>
  <p class="logo-mealk"></p>
  <p class="maison">
    <span>
      Mealk, notre propre marque, donne son nom à nos créations laitières et
      d’épicerie fines aux saveurs originales.
    </span>
    <span>
      Des recettes créées par nos soins qui ont pour objectif de vous faire vivre
      une expérience sensorielle inoubliable à travers des accords inédits.
    </span>
  </p>
</article>

<section class="parallax maison4" data-speed="0.5">
  <p class="legende">Grégoire Declémy, collaborateur, vainqueur de la Lyre d'Or
    2024/2025</p>
</section>

<article class="container">
  <h3>Valoriser le made in France</h3>
  <p class="maison">
    <span>
      Notre engagement, en tant que professionnel du fromage, vous proposer des
      pépites fromagères.
    </span>
    <span>
      Nous valorisons les agriculteurs / producteurs, les circuits courts et le
      savoir-faire français. Sensibles à l’expérience client, Julien et ses
      équipes mettent tout en oeuvre au quotidien pour transmettre les valeurs
      qui les animent : "l’amour du fromage, la créativité, l’excellence et la
      bienveillance… "
    </span>
    <span>
      Ambitieuses et passionnées, les équipes de la fromagerie ont à coeur de
      vous accompagner, tout en étant à l'écoute, de créer et d'avancer ensemble
      !
    </span>
    <span>
      Répondre à toutes vos demandes est là notre satisfaction !
    </span>
  </p>
</article>

{{> footer}}