{{> navbar}}

<section class="parallax head-offre" data-speed="0.5">
  <h1>NOS OFFRES ET PRESTATIONS</h1>
</section>

<article class="container">
  <h2 class="space-offre">Une gamme minutieusement sélectionnée</h2>
  <h3>Les plateaux</h3>
  <h4>Prédécoupé</h4>
  <p class="offres">
    <span>
      L'ensemble de nos fromagers compose vos plateaux en suivant un cahier des
      charges défini en amont avec vous : quantité, compositions etc...
    </span>
    <span>
      Vous pouvez laisser libre cours à votre imagination, nous construisons
      ensemble votre prestation.
    </span>
  </p>
  <h4>Apéro dinatoire</h4>
  <p class="offres">
    <span>
      Vos fromagers sélectionnent avec soin l'ensemble de la charcuterie qui
      compose les plateaux.
    </span>
    <span>
      Qualité mais aussi respect des goûts associés à nos fromages. Nous pouvons
      également sur demande agrémenter votre plateau de gressins/toasts et
      confits/tapenades ou beurres…
    </span>
    <span>
      La réservation des plateaux charcuterie / fromages se fait minimum 24h à
      l'avance.
    </span>
  </p>
</article>

<section class="parallax offre2" data-speed="0.5">
</section>

<article class="container">
  <h4>Fin de repas</h4>
  <p class="offres">
    <span>
      La présentation d'un plateau de fromages à la fin d'un repas est une
      occasion de créer une expérience visuelle et gustative mémorable pour vos
      invités.
    </span>
    <span>
      Sur un plateau, vous retrouverez les fromages finement sélectionnés par
      vos fromagers.
    </span>
    <span>
      Nous choisissons avec vous des fromages de différentes familles, pour un
      plateau homogène.
    </span>
    <span>
      Facilement identifiable, il vous suffira de le poser sur la table et de le
      savourer.
    </span>
  </p>
</article>

<section class="parallax offre3" data-speed="0.5">
</section>

<article class="container">
  <h4>Raclette</h4>
  <p class="offres">
    <span>
      Quoi de mieux que de se régaler avec un plateau de raclette quand les
      heures d'hiver s'installent ?
    </span>
    <span>
      Pour ramener l'univers de la montagne à la maison, vous pouvez commander
      vos plateaux de fromage directement auprès de vos fromagers.
    </span>
    <span>
      En fonction de la quantité et de vos goûts, notre équipe saura vous
      aiguiller sur le choix de vos fromages, voire même de vous en faire
      découvrir.
    </span>
    <span>
      Un large choix de fromage à raclette nature ou aromatisé sont à votre
      disposition.
    </span>
  </p>
  <h5>Commandez, nos fromagers s'occupent de la découpe et de la mise en beauté.</h5>
</article>

<section class="parallax offre4" data-speed="0.5">
</section>

<article class="container">
  <h3>Festivités</h3>
  <p class="offres">Vos fromagers vous accompagnent sur la réussite de vos
    évènements par la réalisation de tour de fromage ou la commande de number
    cheese.
  </p>
  <h4>Tours de fromage</h4>
  <p class="offres">
    <span>
      Nous réalisons des tours de fromages sur-mesure, pour tous vos événements.
    </span>
    <span>
      Nous recommandons nos tours de fromages pour 25 personnes minimum.
    </span>
    <span>
      Idéal pour un anniversaire, mariage, baptême... Vous retrouverez sur vos
      tours une variété de fromages choisis ensemble avec votre fromager.
    </span>
    <span>
      La réservation des tours se fait minimum 2 semaines à l'avance.
    </span>
  </p>
  <h4>Number cheese</h4>
  <p class="offres">
    <span>
      Le Number Cheese est une création originale pour vos anniversaires !
    </span>
    <span>
      Agrémenté de décorations florales et/ou de fruits, il saura se fondre dans
      un décor festif !
    </span>
    <span>
      Il s'agit d'un fromage au lait de chèvre, vous pouvez le choisir frais ou
      affiné.
    </span>
    <span>
      La réservation des Numbers Cheese doit se faire au minimum 3 semaines à
      l'avance.
    </span>
  </p>
</article>

<section class="parallax offre5" data-speed="0.5">
</section>

<article class="container">
  <h3>Les produits de la marque Mealk</h3>
  <p class="logo-mealk"></p>
  <h4>La gamme Mealk</h4>
  <p class="offres">
    <span>
      Notre démarche en tant que fromagers, va plus loin que la proposition
      d'une offre diversifiée et de conseils aiguisés.
    </span>
    <span>
      Nous créons des produits, les imaginons et cherchons les producteurs avec
      qui travailler.
    </span>
    <span>
      Des produits, principalement fabriqués dans les <span class="nom">Hauts-de-France.</span>
    </span>
    <span>
      On y retrouve notamment : la Mimomealk, le Tricorne de Picardie ou encore
      les beurres aromatisés, les confits...
    </span>
    <span>
      Cette gamme évolue perpétuellement et se renouvelle sans cesse.
    </span>
  </p>
</article>

<section class="parallax offre6" data-speed="0.5">
</section>

<article class="container">
  <h3>Epicerie Fine</h3>
  <p class="offres">
    <span>
      L'épicerie fine est une composante essentielle de notre métier. Nous avons
      établi des partenariats avec des maisons renommées, spécialistes de
      produits d'exception réputés pour leur qualité.
    </span>
    <span>
      Nous comprenons l'importance de sélectionner soigneusement des produits
      qui complètent parfaitement vos plateaux de fromage.
    </span>
    <span>
      En travaillant ensemble, nous pouvons vous conseiller et choisir avec
      précision les accompagnements qui s'harmonisent le mieux avec votre
      sélection de fromages.
    </span>
    <span>
      Notre objectif est de vous offrir une expérience gustative exceptionnelle
      en associant les meilleurs fromages à des produits fins et haut de gamme.
    </span>
  </p>
  <h5>Nos partenariats :</h5>
  <ul class="partenaires-list">
    <li class="partenaires">
      <span class="partenaire">
        Maison Marc
      </span>
      <span class="desc-part">Cornichons Malossol, cornichons extras fin,
        cornichons aigre doux</span></li>
    <li class="partenaires">
      <span class="partenaire">
        Confiture et Compagnie
      </span>
      <span class="desc-part">Confits : figue raisin cognac, cerise cranberry
        romarin, mirabelle poivre de timut, poire noisette, sirop de betterave,
        tomate verte poivre fumé, miel</span></li>
    <li class="partenaires">
      <span class="partenaire">
        Maison Balme
      </span>
      <span class="desc-part">Truffe entière, sel truffé, moutarde et mayonnaise
        truffées, caviar d'artichaut à la truffe, caviar d'aubergine à la truffe</span></li>
    <li class="partenaires">
      <span class="partenaire">
        Cluzel
      </span>
      <span class="desc-part">Tablettes de chocolat, sachets gourmands, barres,
        étuis de carré de chocolat, rose des sables, calendrier de l'avent, pâte
        à tartiner</span></li>
    <li class="partenaires">
      <span class="partenaire">
        Les Niçois
      </span>
      <span class="desc-part">Tartinables citron olive, artichaut truffe, chèvre
        tomate, piment d'espelette, sauce BBQ, tuiles soufflées de pois chiche,
        pizzettas, focaccias</span></li>
    <li class="partenaires">
      <span class="partenaire">
        Kalios
      </span>
      <span class="desc-part">Olives Kalamata et Olives vertes</span></li>
    <li class="partenaires">
      <span class="partenaire">
        Miel des Hortillonnages
      </span></li>
  </ul>

  <h3>Carte des vins</h3>
  <ul class="partenaires-list">
    <li class="partenaires">
      <span class="partenaire">
        Bière Mealk
      </span>
      <span>
        Bière Tricorne blonde de Picardie brassée dans l'Oise par la brasserie
        Félicité
      </span>
      <span>
        (bière utilisée notamment dans la création de certains de nos produits
        fromagers)
      </span>
      <span class="asterix">
        *disponible uniquement dans certains établissements.
      </span>
      <span class="partenaire">
        Delas
      </span>
      <span>Crozes-hermitage blanc</span>
      <span>Crozes-hermitage rouge</span>
      <span>Vacqueyras</span>
      <span>Saint Joseph</span>
      <span>Hermitage</span>
      <span>Côte Rotie Rouge</span>
      <span>Cornas</span>
    </li>
    <li class="partenaires">
      <span class="partenaire">
        Château Anguiroun
      </span>
      <span>Blanc</span>
      <span>Rosé</span>
    </li>
    <li class="partenaires">
      <span class="partenaire">
        Château de Bregançon cru classé de Provence
      </span>
      <span>Blanc</span>
      <span>Rouge</span>
      <span>Rosé</span>
      <span>Magnum de rosé</span>
    </li>
    <li class="partenaires">
      <span class="partenaire">
        Vins de savoie
      </span>
      <span>Mondeuse</span>
      <span>Apremont</span>
      <span>Chignin Bergeron</span>

    </li>
  </ul>
</article>

{{> footer}}