{{> navbar}}

<section class="parallax head-part" data-speed="0.5">
  <h1>Nos partenaires</h1>
</section>


    <div class="logo-partenaires">
        <a class="link-part " href="www.lesspartiates.com">
            <img class="img-part"  src="./Images/Spartiates.png" alt="Les Spartiates">
        </a>
        <a class="link-part" href="https://www.lesgothiques.com/">
            <img class="img-part" src="./Images/les Gothiques.png" alt="Les Gothiques">
        </a>
        <a class="link-part" href="https://rc-amiens.ffr.fr/">
            <img class="img-part" src="./Images/RCA.png" alt="Rugby club amiénois">
        </a>
        <a class="link-part" href="https://amienspicardiehand.com/">
            <img class="img-part" src="./Images/logo-amiens-picardie-handball.png" alt="Amiens Picardie Handball">
        </a>
        <a class="link-part" href="https://www.ascjudo.org/">
            <img class="img-part" src="./Images/judo.png" alt="ASC Judo">
        </a>
    </div>



{{> footer}}