{{> navbar}}

<section class="parallax head-part" data-speed="0.5">
  <h1>Nos partenaires</h1>
</section>

<div class="logo-partenaires">
  <div class="link-part spartiate">
    <a href="www.lesspartiates.com">
    </a>
  </div>
  <div class="link-part rca">
    <a href="https://rc-amiens.ffr.fr/">
    </a>
  </div>
  <div class="link-part judo">
    <a href="https://www.ascjudo.org/">
    </a>
  </div>
  <div class="link-part goth">
    <a href="https://www.lesgothiques.com/">
    </a>
  </div>
</div>

{{> footer}}