{{> navbar}}

<section class="parallax head-pro" data-speed="0.5">*
  <h1>LES PROFESIONNELS</h1>
</section>

<article class="container">
  <h2>Restaurateurs</h2>
  <h3>carte et produits</h3>
  <p class="professionnels">
    <span>
      Nous vous proposons une grille tarifaire adaptée à vos métiers de bouche,
      vous pourrez travailler les cartes de vos établissements avec nos
      différents produits.
    </span>
    <span>
      Laissez-vous guider, section après section, dans ce nouveau look pour
      parfaire vos sélections en accord avec les saisonnalités mais aussi les
      produits de la région...
    </span>
    <span>
      Votre équipe vous a finement sélectionné différents produits crémiers et
      fromagers, ce travail résulte de 20 ans de pratique, à chercher nos futurs
      producteurs (dans le monde entier), à sourcer en permanence, à inventer &
      créer des produits (sous la marque Mealk); à vos côtés.
    </span>
    <span>
      Parce que nos producteurs sont choisis méticuleusement, de la production à
      la vente. Aujourd'hui, plus que jamais, nous souhaitons vous apporter,
      au-delà de nos produits, un vrai service !
    </span>
    <span>
      Ne perdez plus de temps, nous vous livrons l'ensemble de vos commandes !
      Nous nous adaptons à vos demandes, n'hésitez pas à nous contacter si vous
      souhaitez des produits spécifiques ne figurant pas sur ce livre, nous
      sommes en mesure également de travailler les pré-commandes.
    </span>

  </p>
  <h2>Évènements d'entreprise</h2>
  <p class="professionnels">
    <span>
      Votre fromagerie est disponible pour répondre à vos demandes les plus
      particulières !
    </span>
    <span>
      Nous vous accompagnons dans vos évènements personnels mais également dans
      vos événements professionnels, séminaires, pots de départ...
    </span>
    <span>
      Nous pouvons également, sur demande après établissement d'un devis, vous
      accompagner sur les boissons (alcool & soft), pains etc...
    </span>
    <span>
      Nous nous chargeons de tout, de A à Z !
    </span>
    <span>
      Parce que c'est aussi notre volonté, pouvoir vous apporter une prestation
      clé en main !
    </span>
    <span>
      N'hésitez pas à nous contacter pour obtenir des renseignements qui vous
      seront nécessaires dans l'établissement de votre projet !
    </span>
  </p>

</article>

{{> footer}}